html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: seashell;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  font-family: Helvetica, sans-serif;
}

#fixed {
  overflow: hidden;
  background-color: #000;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  border-bottom: .7px solid seashell;
  font-size: 15px;
}

#nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5px 0 5px 10px;
  list-style: none;
}

#logo {
  margin-right: auto;
}

#nav-links {
  display: flex;
  gap: 20px;
  margin-right: 10px;
}

#nav-links a {
  text-decoration: none;
  color: #fff;
}

#nav-links a:hover {
  color: rgb(227, 154, 169);
  opacity: none;
  text-decoration: underline;
}

#logo img {
  height: 50px;
}

/* the start of the main section */
#mission-bground {
  position: relative;
  text-align: center;
  padding: 0 50px;
}

#mission-bground img {
  /* height: 100%; */
  width: 1200px;
}

/*Positioning the mission statement by first removing it from the document flow and allowing it to float above its nearest ancestor element #mission-bground img". Then */
#mission {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*Center the element */
  background-color: #000;
  width: 100%;
}

/*Monthly tea seaction */


#monthly-tea {
  max-width: 1000px; /* Sets the entire containers max width*/
  margin: 0 auto; /*Centers the section horizontally*/
  text-align: center; /*Centers the heading text*/
}

#featured-tea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

#featured-tea li {
  flex: 0 1 calc(33.333% - 20px); 
  margin: 10px;
  box-sizing: border-box;
}

#monthly-tea img {
  width: 300px;
  height: 200px;
}

#location-bground {
  text-align: center;
  padding: 0 50px;
  position: relative;
}
#location-bground img{
  width: 1200px;
  height: 500px;
}

#locations {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*Center the element */
  width: 100%;
}

#locations ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.boxes {
  width: 300px;
  height: 300px;
  background-color: #000;
  list-style-type: none;
  
}